<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="/manifest.json" rel="manifest">
  
    <meta content="OsbornTV`s Wallpaper" name="application-name">
    <meta content="Tooltip" name="msapplication-tooltip">
    <meta name="description" content="{{ site.description }}" data-rh="true">

    <link rel="canonical" href="https://osborntv.github.io/de" data-rh="true">
  
    <link rel="alternate" href="https://osborntv.github.io/en" hreflang="en" data-rh="true">
    <link rel="alternate" href="https://osborntv.github.io/de" hreflang="de" data-rh="true">
    <link rel="alternate" href="https://osborntv.github.io/de" hreflang="x-default" data-rh="true">
  
    <link rel="icon" type="image/vnd.microsoft.icon" href="assets/img/favicon.ico">
  
    <meta name="theme-color" content="#f18420" data-rh="true">
  
    <meta content="/ieconfig.xml" name="msapplication-config">

    <title>{{ title }}</title>

    <style href="/assets/css/landing.css">
    </style>

    {% if page.head-extra %}
        {% for file in page.head-extra %}
            {% include {{ file }} %}
        {% endfor %}
    {% endif %}

</head>

<body style="margin:0;padding:0;" class="chakra-ui-light">
    <div id="OsbornTVWallpaper">
        <div id="language-landing"
            style="margin: 0px; display: flex; min-height: 100vh; width: 100%; background: linear-gradient(to right, rgb(255, 146, 43), rgb(253, 126, 20)); justify-content: center; align-items: stretch;">
            <div
                style="display: flex; justify-content: center; align-items: center; overflow: auto; flex-direction: column; padding: 6rem;">
                <img alt="Figuya Logo" width="360" height="85"
                    src="/dist/src/figuya.svg">
                <div style="display: flex; flex-grow: 1; justify-content: center; align-items: center;">
                    <div
                        style="display: flex; justify-content: center; align-items: center; background-color: rgba(249, 248, 244, 0.36); border-radius: 100%; width: 300px; height: 300px;">
                        <img alt="Figuchan" width="300" height="478"
                            src="/dist/src/images/shopping-figuchan.65307dd266017b00d315336a77e7c38c.png"
                            srcset="/dist/src/images/shopping-figuchan.9e18f51002fdeab91e832aac799486d7.webp, /dist/src/images/shopping-figuchan-600.bbdb99e756feb36f4b9a0d9e4db0fa09.webp 2x"
                            sizes=""></div>
                </div>
                <div style="display: flex; flex-wrap: wrap;"><a href="/de"
                        style="width: 200px; font-family: &quot;PT Sans&quot;, sans-serif; align-items: center; justify-content: center; display: flex; color: black; text-decoration: none; border-radius: 5px; padding: 10px 20px; margin: 3px; background-color: white;">Weiter
                        auf Deutsch</a><a href="/en"
                        style="width: 200px; align-items: center; justify-content: center; display: flex; font-family: &quot;PT Sans&quot;, sans-serif; color: black; text-decoration: none; border-radius: 5px; padding: 10px 20px; margin: 3px; background-color: white;">Continue
                        in English</a></div>
            </div>
        </div>
    </div>
    <noscript>
        <p>OsbornTV`s Wallpaper Site funktioniert besser mit Javascript.</p>
    </noscript>
</body>

</html>
