<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <!-- <meta content="OsbornTV`s Wallpaper" name="application-name"> -->

  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
 <!-- <meta name="theme-color" content="#ffffff"> -->

  <link rel="stylesheet" href="/assets/css/vendors.min.css">

  <script src="/assets/js/vendors.min.js"></script>
  <script src="/assets/js/app.min.js}"></script>

  <noscript>Please enable JavaScript to view this Site</noscript>

  {% capture title %}
    {%- if page.share-title -%}
      {{ page.share-title | strip_html | xml_escape }}
    {%- elsif page.title -%}
      {{ page.title | strip_html | xml_escape  }}
    {%- else -%}
      {{ site.title | strip_html | xml_escape }}
    {%- endif -%}
    {% endcapture %}

  {% if site.author %}
  <meta name="author" content="{{ site.author }}">
  {% endif %}

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if site.site-css %}
    {% for css in site.site-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}
  
  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {%- capture img -%}
    {%- if page.share-img -%}
      {{ page.share-img }}
    {%- elsif page.cover-img -%}
      {%- if page.cover-img.first -%}
        {{ page.cover-img[0].first.first }}
      {%- else -%}
        {{ page.cover-img }}
      {%- endif -%}
    {%- elsif page.thumbnail-img -%}
      {{ page.thumbnail-img }}
    {%- elsif site.avatar -%}
      {{ site.avatar }}
    {% endif %}
  {%- endcapture -%}
  {%- assign img=img | strip -%}

  {% if page.head-extra %}
    {% for file in page.head-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}

</head>
