<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link href="/manifest.json" rel="manifest">

  <meta content="#f0ede4" name="msapplication-TileColor">
  <meta content="OsbornTV`s Wallpaper" name="application-name">
  <meta content="Tooltip" name="msapplication-tooltip">

  <meta content="Tooltip" name="msapplication-tooltip">
  <link rel="canonical" href="https://osborntv.github.io/de" data-rh="true">

  <link rel="alternate" href="https://osborntv.github.io/en" hreflang="en" data-rh="true">
  <link rel="alternate" href="https://osborntv.github.io/de" hreflang="de" data-rh="true">
  <link rel="alternate" href="https://osborntv.github.io/de" hreflang="x-default" data-rh="true">

  <link rel="icon" type="image/vnd.microsoft.icon" href="assets/img/favicon.ico">

  <meta name="theme-color" content="#f18420" data-rh="true">
  <style data-emotion="css" data-s=""></style>

  <meta content="/ieconfig.xml" name="msapplication-config">
  
  {% capture title %}
    {%- if page.share-title -%}
      {{ page.share-title | strip_html | xml_escape }}
    {%- elsif page.title -%}
      {{ page.title | strip_html | xml_escape  }}
    {%- else -%}
      {{ site.title | strip_html | xml_escape }}
    {%- endif -%}
  {% endcapture %}

  <title>{{ title }}</title>

  {% if site.author %}
  <meta name="author" content="{{ site.author }}">
  {% endif %}

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if site.site-css %}
    {% for css in site.site-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}
  
  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {%- capture img -%}
    {%- if page.share-img -%}
      {{ page.share-img }}
    {%- elsif page.cover-img -%}
      {%- if page.cover-img.first -%}
        {{ page.cover-img[0].first.first }}
      {%- else -%}
        {{ page.cover-img }}
      {%- endif -%}
    {%- elsif page.thumbnail-img -%}
      {{ page.thumbnail-img }}
    {%- elsif site.avatar -%}
      {{ site.avatar }}
    {% endif %}
  {%- endcapture -%}
  {%- assign img=img | strip -%}

  {% if page.comments and site.staticman.repository and site.staticman.branch %}
  <link rel="stylesheet" href="{{ "/assets/css/staticman.css" | relative_url }}">
  {% endif %}

  {% if page.head-extra %}
    {% for file in page.head-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}

</head>
