#change-language {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 1rem;
    font-size: 0.8125rem;
    padding: 0.0625rem;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 1199px) {
    #change-language {
        top: 0.85rem;
        right: 5rem;
    }
}

@media (min-width: 1200px) {
    .navbar .navbar-collapse {
        margin-right: 2.3rem;
    }

    #change-language {
        top: auto;
        right: 1rem;
    }
}

#change-language .index-btn {
    -webkit-transition: margin 0.3s ease-in-out;
    -moz-transition: margin 0.3s ease-in-out;
    transition: margin 0.3s ease-in-out;
    margin: 0 0.8rem 0 0;
}

#change-language:hover .index-btn {
    margin: 0 0 0 0.8rem;
}

#change-language .mode-language {
    display: none;
}

.page-language-mode #change-language .german-mode {
    display: block;
}

.page-language-mode #change-language .english-mode {
    display: block;
}

#change-language:hover {
    background: #888;
}
